*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* width: 100%; */
  margin: 0 auto;
  /* border: 1px solid black; */
  padding: 10px;
}
table tbody td{
  border: 1px solid black;
  border-collapse: collapse;
  color: #2e2e22;
  padding: 5px 10px;
  font-size: 20px;
}
table thead th{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 10px;
  font-size: 24px;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}